:root[style*="light"] {
  .scheme-control-button::before {
    content: "\2600";
  }
}
:root[style*="dark"] {
  .scheme-control-button::before {
  content: "\23fe";
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}
